{% extends "status/base_graph.html" %}

{% block staticfiles %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'status/graph.css' %}" />

    {{ tempgraph.js|safe }}
    {{ humgraph.js|safe }}
    {{ sensehat_temp1.js|safe }}
    {{ sensehat_hum.js|safe }}
    {{ tprobe_temp3.js|safe }}
    {{ tprobe_temp4.js|safe }}
    {{ tprobe_temp5.js|safe }}
    {{ tprobe_temp6.js|safe }}
    {{ tprobe_temp7.js|safe }}

{% endblock %}


{% block body %}
    <div class="container">
        <form action={% url "all_temps_index" %} method="post">
            {% csrf_token %}
            {{ date_selector_form }}
            <input class="btn-primary" type="submit" value="Refresh" />
        </form>
    </div>
    <table>
        <tr>
            <td><div class="bokeh">{{ tempgraph.div|safe }}</div></td>
            <td><div class="bokeh">{{ humgraph.div|safe }}</div></td>
        </tr>
        <tr>
            <td><div class="bokeh">{{ sensehat_temp1.div|safe }}</div></td>
            <td><div class="bokeh">{{ sensehat_hum.div|safe }}</div></td>
        </tr>
        <tr>
            <td><div class="bokeh">{{ tprobe_temp3.div|safe }}</div></td>
            <td><div class="bokeh">{{ tprobe_temp4.div|safe }}</div></td>
        </tr>
        <tr>
            <td><div class="bokeh">{{ tprobe_temp5.div|safe }}</div></td>
            <td><div class="bokeh">{{ tprobe_temp6.div|safe }}</div></td>
        </tr>
        <tr>
            <td><div class="bokeh">{{ tprobe_temp7.div|safe }}</div></td>
        </tr>
    </table>

{#    auto reload script#}
    <script type='text/javascript'>
        setTimeout(function(){
   window.location.reload(0);
        }, 60000);
    </script>

{% endblock %}
