{% extends "base.html" %}

{% block staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'status/graph.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}


{% block body %}
    <table>
    <tr>
        <td>Age</td><td>{{ age }}</td><td>{{ age_error }}</td>
    </tr>
    </table>

{#    auto reload script#}
    <script type='text/javascript'>
        setTimeout(function(){
   window.location.reload(0);
        }, 60000);
    </script>

{% endblock %}
