{% extends "status/base_graph.html" %}

{% block staticfiles %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'status/graph.css' %}" />

{#    <script type="text/javascript" src="{% static 'flot/jquery.flot.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'flot/jquery.flot.errorbars.js' %}"></script>#}
{#    <link href="//cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" rel="stylesheet" type="text/css">#}
{#    <script src="//cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>#}
    {{ ideogram.js|safe }}
    {{ analysis_number.js|safe }}
{% endblock %}


{% block body %}
{#    <div class="container">#}

        <table>
{#            <tr><td>Analysis#</td><td><div id="analysis_number" style="width:500px;height:100px;"></div></td></tr>#}
{#            <tr><td>Rel. Prob</td><td><div id="ideogram" style="width:500px;height:300px;"></div></td></tr>#}
            <tr>
                <td>{{ analysis_number.div|safe }}</td>
            </tr>
            <tr>
                <td>{{ ideogram.div|safe }}</td>
            </tr>
        </table>

        <table class="paleblue">
            <thead>
                <td>Identifier</td>
                <td>Aliquot</td>
                <td>Age</td>
                <td>&#x00b1 1&#x03c3</td>
                <td>Run Date</td>
            </thead>
        {% for ai in analyses %}
            <tr>
                <td>{{ ai.identifier }}</td>
                <td>{{ ai.aliquot }}</td>
                <td>{{ ai.age }}</td>
                <td>{{ ai.age_error }}</td>
                <td>{{ ai.start_time|date:"m/d/y h:i:s A" }}</td>
            </tr>
        {% endfor %}
        </table>


        <script type='text/javascript'>
        $.plot($("#analysis_number"), {{ analysis_number.json_data|safe}}, {{ analysis_number.options|safe }});
        </script>

        <script type='text/javascript'>
        $.plot($("#ideogram"), {{ cumulative_prob.json_data|safe}}, {{ cumulative_prob.options|safe }});
        </script>
{#    </div>#}


{#    auto reload script#}
    <script type='text/javascript'>
        setTimeout(function(){
   window.location.reload(0);
        }, 60000);
    </script>

{% endblock %}
