{% extends "base.html" %}

{% block staticfiles %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'status/graph.css' %}" />

    <script type="text/javascript" src="{% static 'flot/jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static 'flot/jquery.flot.time.js' %}"></script>
{% endblock %}


{% block body %}
    <div class="container">
        <form action={% url "status_graph_index" %} method="post">
            {% csrf_token %}
            {{ date_selector_form }}
            <input class="btn-primary" type="submit" value="Refresh" />
        </form>
        {% for rows in graphrows %}
            <div class="row">
                {% for title, label, id, graph in rows %}
                <div class="col-md-6">

                    <table class="graph">
                        <tr><td></td><td><div class='graphtitle'>{{ title }}</div></td></tr>
                        <tr>
                            <td id="ylabel"><div>{{ label }}</div></td>
                            <td><div id="{{ id }}" style="width:500px;height:300px;"></div></td>
                        </tr>
                        <tr><td></td><td><div id="xlabel">Time</div></td></tr>
                    </table>
                    <script type='text/javascript'>
                    $.plot($("#{{ id }}"), {{ graph.json_data|safe}}, {{ graph.options|safe }});
                    </script>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


{#    auto reload script#}
    <script type='text/javascript'>
        setTimeout(function(){
   window.location.reload(0);
        }, 60000);
    </script>

{% endblock %}
