{% extends "base.html" %}

{% block staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'status/graph.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'status/style.css' %}" />
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js'></script>
    <script type="text/javascript" src='http://www.flotcharts.org/flot/jquery.flot.js'></script>
    <script type="text/javascript" src='http://www.flotcharts.org/flot/jquery.flot.time.js'></script>
{#    <script type="text/javascript" src="{% static 'js/jquery.flot.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/jquery.flot.time.js' %}"></script>#}
{% endblock %}


{% block body %}

    <div class='add-border'>
        <table>
            <tr>
            {% for spec, exp, ai in experiments %}
                <td>
                    <div class="spectrometer_box">
                        <h1>{{ spec }}</h1>
                        <h3>Experiment: {{ exp.name }} {{ exp.start_time|date:"m/d/Y h:i:s A" }}</h3>
                        <h2>Analysis: {{ ai.name }} {{ ai.start_time|date:"m/d/Y h:i:s A" }}</h2>
                    </div>
                </td>
            {% endfor %}
            </tr>
        </table>

    <div class="add-border">

        <h4>Current</h4>
        <table class="paleblue">
            <thead><td>Name</td><td>Value</td><td>Units</td><td>Timestamp</td></thead>
            {% for ti,ci,ui, tsi in current %}
                <tr><td>{{ ti }}</td><td>{{ ci }}</td><td>{{ ui }}</td><td>{{ tsi|date:"m/d/Y h:i:s A" }}</td></tr>
            {% endfor %}
        </table>
{#        <table>#}
{#            <tr>#}
{#                <td>#}
{#                    <div class="spectrometer_box">#}
{#                        <h2>Temperature: {{ current_temp|floatformat }} ({{ temp_units }})</h2>#}
{#                    </div>#}
{#                </td>#}
{#                <td>#}
{#                    <div class="spectrometer_box">#}
{#                        <h2>Humidity: {{ current_humidity|floatformat }} ({{ humidity_units }})</h2>#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{#                    <div class="spectrometer_box">#}
{#                        <h2>Air Pressure: {{ current_pneumatic|floatformat }} ({{ pneumatic_units }})</h2>#}
{#                    </div>#}
{#                </td>#}
{#                <td>#}
{#                    <div class="spectrometer_box">#}
{#                        <h2>Coolant: {{ current_coolant|floatformat }} ({{ coolant_units }})</h2>#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
    </div>
</div>
    <form action={% url "status_index" %} method="post">
        {% csrf_token %}
        {{ date_selector_form }}
        <input type="submit" value="Refresh" />
    </form>

    <table>
    <tr>
        <td>
            <table class="paleblue">
                <tr><td></td><td><div class='graphtitle'>Lab Temperature</div></td></tr>
                <tr>
                    <td id="ylabel"><div>Temp (F)</div></td>
                    <td><div id="temp_graph" style="width:500px;height:300px;"></div></td>
                </tr>
                <tr><td></td><td><div id="xlabel">Time</div></td></tr>
            </table>
        </td>
        <td>
            <table class="paleblue">
                <tr><td></td><td><div class='graphtitle'>Lab Humidity</div></td></tr>
                <tr>
                    <td id="ylabel"><div>Humidity (%)</div></td>
                    <td><div id="hum_graph" style="width:500px;height:300px;"></div></td>
                </tr>
                <tr><td></td><td><div id="xlabel">Time</div></td></tr>
            </table>
        </td>
    </tr>
    </table>

    <table>
    <tr>
        <td>
            <table class="paleblue">
                <tr><td></td><td><div class='graphtitle'>Coolant Temperature</div></td></tr>
                <tr>
                    <td id="ylabel"><div>Temp ({{ coolant_units }})</div></td>
                    <td><div id="coolant_graph" style="width:500px;height:300px;"></div></td>
                </tr>
                <tr><td></td><td><div id="xlabel">Time</div></td></tr>
            </table>
        </td>
        <td>
            <table class="paleblue">
                <tr><td></td><td><div class='graphtitle'>ColdFinger Temperature</div></td></tr>
                <tr>
                    <td id="ylabel"><div>Temp ({{ coldfinger_units }})</div></td>
                    <td><div id="cf_graph" style="width:500px;height:300px;"></div></td>
                </tr>
                <tr><td></td><td><div id="xlabel">Time</div></td></tr>
            </table>
        </td>
    </tr>
    </table>

    <table>
    <tr>
        <td>
            <table class="paleblue">
                <tr><td></td><td><div class='graphtitle'>Air Pressure</div></td></tr>
                <tr>
                    <td id="ylabel"><div>Pressure ({{ pneumatic_units }})</div></td>
                    <td><div id="pneumatic_graph" style="width:500px;height:300px;"></div></td>
                </tr>
                <tr><td></td><td><div id="xlabel">Time</div></td></tr>
            </table>
        </td>
        <td>
            <table class="paleblue">
                <tr><td></td><td><div class='graphtitle'></div></td></tr>
                <tr>
                    <td><div id="ylabel"></div></td>
{#                    <td><div id="cf_graph" style="width:500px;height:300px;"></div></td>#}
                </tr>
                <tr><td></td><td><div id="xlabel">Time</div></td></tr>
            </table>
        </td>
    </tr>
    </table>

    <script type='text/javascript'>
        $.plot($("#pneumatic_graph"), {{ pneumatic.json_data|safe}}, {{ pneumatic.options|safe }});
    </script>
    <script type='text/javascript'>
        $.plot($("#temp_graph"), {{ temp.json_data|safe}}, {{ temp.options|safe }});
    </script>
    <script type='text/javascript'>
        $.plot($("#hum_graph"), {{ hum.json_data|safe}}, {{ hum.options|safe }});
    </script>
    <script type='text/javascript'>
        $.plot($("#coolant_graph"), {{ coolant.json_data|safe}}, {{ coolant.options|safe }});
    </script>
    <script type='text/javascript'>
        $.plot($("#cf_graph"), {{ cfinger.json_data|safe}}, {{ cfinger.options|safe }});
    </script>
{% endblock %}
