{% extends "base.html" %}

{% block staticfiles %}
    {% load static %}



    <link rel="stylesheet" type="text/css" href="{% static 'status/graph.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}


{% block body %}
    <div id="experimentscontainer">
        <table>
            <tr>
            {% for spec, exp, ai in experiments %}
                <td>
                    <div id="experimentcontainer">
                        <h4 style="font-variant: small-caps; font-weight: bold">{{ spec }}</h4>
                        <table class="paleblue">
                            <thead>
                            <td></td><td>Name</td><td>Timestamp</td>
                            </thead>
                            <tr><td>Experiment</td><td>{{ exp.name }}</td><td>{{ exp.start_time|date:"m/d/y h:i:s A" }}</td></tr>
                            <tr><td>Analysis</td><td>{{ ai.name }}</td><td>{{ ai.start_time|date:"m/d/y h:i:s A" }}</td></tr>
                        </table>
                    </div>
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>

    <div id="currentcontainer" >
        <table class="paleblue">
            <thead><td>Name</td><td>Value</td><td>Units</td><td>Timestamp</td></thead>
            {% for ti,ci,ui, tsi in current %}
                <tr><td>{{ ti }}</td><td>{{ ci|floatformat:2 }}</td><td>{{ ui }}</td><td>{{ tsi|date:"m/d/Y h:i:s A" }}</td></tr>
            {% endfor %}
        </table>
    </div>

    <div id="connectioncontainer">
        <div class="row">
            {% for name, ts, connections in connections_list %}
                <div class="col-md-{{ nconnections }}">
                    <p class="connection"><strong>{{ name }}</strong> {{ ts|date:"m/d/y h:i:s A"}}</p>
                    <table class="paleblue">
                        <thead>
                            <td>Application</td>
                            <td>Device</td>
                            <td>Communicator</td>
                            <td>Address</td>
                            <td>Status</td>
                        </thead>
                        {% for conn in connections %}
                            {% if conn.status %}
                                <tr class="status_true">
                            {% else %}
                                <tr class="status_false">
                            {% endif %}
                                <td>{{ conn.appname }}</td>
                            <td>{{ conn.devname }}</td>
                            <td>{{ conn.com }}</td>
                            <td>{{ conn.address }}</td>
                            {% if conn.status %}
                                <td>OK</td>
                            {% else %}
                                <td>FAIL</td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>


{#    auto reload script#}
    <script type='text/javascript'>
        setTimeout(function(){
   window.location.reload(0);
        }, 60000);
    </script>

{% endblock %}
