{% extends "base.html" %}

{% block staticfiles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'status/graph.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

{#    <script type="text/javascript" src='http://www.flotcharts.org/flot/jquery.flot.js'></script>#}
{#    <script type="text/javascript" src='http://www.flotcharts.org/flot/jquery.flot.time.js'></script>#}
    <script type="text/javascript" src="{% static 'jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.flot.time.js' %}"></script>
{% endblock %}


{% block body %}


    <div id="maincontainer">
        <div id="experimentscontainer">
            <table>
                <tr>
                {% for spec, exp, ai in experiments %}
                    <td>
                        <div id="experimentcontainer">
                            <h1>{{ spec }}</h1>
                            <table class="paleblue">
                                <thead>
                                <td></td><td>Name</td><td>Timestamp</td>
                                </thead>
                                <tr><td>Experiment</td><td>{{ exp.name }}</td><td>{{ exp.start_time|date:"m/d/y h:i:s A" }}</td></tr>
                                <tr><td>Analysis</td><td>{{ ai.name }}</td><td>{{ ai.start_time|date:"m/d/y h:i:s A" }}</td></tr>
                            </table>
{#                            <h3>Experiment: {{ exp.name }} {{ exp.start_time|date:"m/d/y h:i:s A" }}</h3>#}
{#                            <h2>Analysis: {{ ai.name }} {{ ai.start_time|date:"m/d/y h:i:s A" }}</h2>#}
                        </div>
                    </td>
                {% endfor %}
                </tr>
            </table>
        </div>
        <div id="currentcontainer">
            <h4>Current</h4>
            <table>
            <tr>
                <td>
                    <table class="paleblue">
                        <thead><td>Name</td><td>Value</td><td>Units</td><td>Timestamp</td></thead>
                        {% for ti,ci,ui, tsi in current %}
                            <tr><td>{{ ti }}</td><td>{{ ci|floatformat:2 }}</td><td>{{ ui }}</td><td>{{ tsi|date:"m/d/Y h:i:s A" }}</td></tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            </table>

        </div>
        <div id="connectioncontainer">
            <h4>Connection Status</h4>
                <table>
                    <tr>
                        {% for name, ts, connections in connections_list %}
                            <td>
                                <p class="connection"><strong>{{ name }}</strong> {{ ts|date:"m/d/y h:i:s A"}}</p>
                                <table class="paleblue">
                                    <thead>
{#                                        <td>Application</td>#}
                                        <td>Device</td>
                                        <td>Communicator</td>
                                        <td>Address</td>
                                        <td>Status</td>
                                    </thead>
                                    {% for conn in connections %}
                                        {% if conn.status %}
                                            <tr class="status_true">
                                        {% else %}
                                            <tr class="status_false">
                                        {% endif %}
{#                                        <td>{{ conn.appname }}</td>#}
                                        <td>{{ conn.devname }}</td>
                                        <td>{{ conn.com }}</td>
                                        <td>{{ conn.address }}</td>
                                        {% if conn.status %}
                                            <td>OK</td>
                                        {% else %}
                                            <td>FAIL</td>
                                        {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                </table>

        </div>
        <div id="graphcontainer">
            <form action={% url "status_index" %} method="post">
                {% csrf_token %}
                {{ date_selector_form }}
                <input type="submit" value="Refresh" />
            </form>
            <table>
                <tr>
                    <td>
                        <table class="graph">
                            <tr><td></td><td><div class='graphtitle'>Lab Temperature</div></td></tr>
                            <tr>
                                <td id="ylabel"><div>Temp (F)</div></td>
                                <td><div id="temp_graph" style="width:500px;height:300px;"></div></td>
                            </tr>
                            <tr><td></td><td><div id="xlabel">Time</div></td></tr>
                        </table>
                    </td>
                    <td>
                        <table class="graph">
                            <tr><td></td><td><div class='graphtitle'>Lab Humidity</div></td></tr>
                            <tr>
                                <td id="ylabel"><div>Humidity (%)</div></td>
                                <td><div id="hum_graph" style="width:500px;height:300px;"></div></td>
                            </tr>
                            <tr><td></td><td><div id="xlabel">Time</div></td></tr>
                        </table>
                    </td>
                </tr>
                </table>

                <table>
                <tr>
                    <td>
                        <table class="graph">
                            <tr><td></td><td><div class='graphtitle'>Coolant Temperature</div></td></tr>
                            <tr>
                                <td id="ylabel"><div>Temp ({{ coolant_units }})</div></td>
                                <td><div id="coolant_graph" style="width:500px;height:300px;"></div></td>
                            </tr>
                            <tr><td></td><td><div id="xlabel">Time</div></td></tr>
                        </table>
                    </td>
                    <td>
                        <table class="graph">
                            <tr><td></td><td><div class='graphtitle'>ColdFinger Temperature</div></td></tr>
                            <tr>
                                <td id="ylabel"><div>Temp ({{ coldfinger_units }})</div></td>
                                <td><div id="cf_graph" style="width:500px;height:300px;"></div></td>
                            </tr>
                            <tr><td></td><td><div id="xlabel">Time</div></td></tr>
                        </table>
                    </td>
                </tr>
                </table>

                <table>
                <tr>
                    <td>
                        <table class="graph">
                            <tr><td></td><td><div class='graphtitle'>Air Pressure</div></td></tr>
                            <tr>
                                <td id="ylabel"><div>Pressure ({{ pneumatic_units }})</div></td>
                                <td><div id="pneumatic_graph" style="width:500px;height:300px;"></div></td>
                            </tr>
                            <tr><td></td><td><div id="xlabel">Time</div></td></tr>
                        </table>
                    </td>
                    <td>
                        <table class="graph">
                            <tr><td></td><td><div class='graphtitle'></div></td></tr>
                            <tr>
                                <td><div id="ylabel"></div></td>
                                <td><div id="cf_graph" style="width:500px;height:300px;"></div></td>
                            </tr>
                            <tr><td></td><td><div id="xlabel">Time</div></td></tr>
                        </table>
                    </td>
                </tr>
                </table>

        </div>
    </div>

{#    auto reload script#}
    <script type='text/javascript'>
        setTimeout(function(){
   window.location.reload(1);
        }, 60000);
    </script>

    <script type='text/javascript'>
        $.plot($("#pneumatic_graph"), {{ pneumatic.json_data|safe}}, {{ pneumatic.options|safe }});
    </script>
    <script type='text/javascript'>
        $.plot($("#temp_graph"), {{ temp.json_data|safe}}, {{ temp.options|safe }});
    </script>
    <script type='text/javascript'>
        $.plot($("#hum_graph"), {{ hum.json_data|safe}}, {{ hum.options|safe }});
    </script>
    <script type='text/javascript'>
        $.plot($("#coolant_graph"), {{ coolant.json_data|safe}}, {{ coolant.options|safe }});
    </script>
    <script type='text/javascript'>
        $.plot($("#cf_graph"), {{ cfinger.json_data|safe}}, {{ cfinger.options|safe }});
    </script>
{% endblock %}
