{% extends "status/base_graph.html" %}

{% block staticfiles %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'status/graph.css' %}" />

    {{ big.js|safe }}
    {{ mbig.js|safe }}
    {{ rig.js|safe }}
    {{ btank.js|safe }}
    {{ mbtank.js|safe }}
    {{ rtank.js|safe }}
    {{ ascroll.js|safe }}
    {{ rscroll.js|safe }}
    {{ jdb.js|safe }}
    {{ fig.js|safe }}
    {{ fsd.js|safe }}
    {{ fud.js|safe }}

{% endblock %}


{% block body %}
    <div class="container">
        <form action={% url "vacuum_pressure_index" %} method="post">
            {% csrf_token %}
            {{ date_selector_form }}
            <input class="btn-primary" type="submit" value="Refresh" />
        </form>
    </div>

    <table border="1px" class="paleblue">
    <tr>
        <th>Name</th>
        <th>Min</th>
        <th>Max</th>
        <th>Mean</th>
        <th>StDev</th>
        <th>Latest</th>
        <th>Timestamp</th>
    </tr>
    {% for row in bloodtests %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.min}}</td>
            <td>{{ row.max}}</td>
            <td>{{ row.mean }}</td>
            <td>{{ row.std }}</td>
            <td>{{ row.latest }}</td>
            <td>{{ row.timestamp|date:"SHORT_DATETIME_FORMAT"}}</td>
        </tr>
    {% endfor %}
    </table>

    <h1>Ion Gauges</h1>
    <table>
        <tr>
            <td><div class="bokeh">{{ big.div|safe }}</div></td>
            <td><div class="bokeh">{{ mbig.div|safe }}</div></td>
            <td><div class="bokeh">{{ rig.div|safe }}</div></td>
        </tr>
    </table>

    <h1>Buffer Tanks</h1>
    <table>
        <tr>
            <td><div class="bokeh">{{ btank.div|safe }}</div></td>
            <td><div class="bokeh">{{ mbtank.div|safe }}</div></td>
            <td><div class="bokeh">{{ rtank.div|safe }}</div></td>
        </tr>
    </table>

    <h1>Misc.</h1>
    <table>
        <tr>
            <td><div class="bokeh">{{ ascroll.div|safe }}</div></td>
            <td><div class="bokeh">{{ rscroll.div|safe }}</div></td>
            <td><div class="bokeh">{{ jdb.div|safe }}</div></td>
        </tr>
    </table>

    <h1>Furnace</h1>
    <table>
        <tr>
            <td><div class="bokeh">{{ fig.div|safe }}</div></td>
            <td><div class="bokeh">{{ fsd.div|safe }}</div></td>
            <td><div class="bokeh">{{ fud.div|safe }}</div></td>
        </tr>
    </table>




{#    auto reload script#}
    <script type='text/javascript'>
        setTimeout(function(){
   window.location.reload(0);
        }, 60000);
    </script>

{% endblock %}
