{% load staticfiles %}

<script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'nmgrl.css' %}" />

<!-- note that there's also blue.uni-form.css and dark.uni-form.css available if you want to try changing defaults up -->
{#<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" type="text/css" />#}
{#<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/default.uni-form.css" type="text/css" />#}
<!-- uni-form JS library, optional -->
{#<script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>#}
{% block scripts %}{% endblock %}
{% block staticfiles %}{% endblock %}

<header id="header">
    <div id="bureaulogo">
        <a href="//geoinfo.nmt.edu" title="New Mexico Bureau of Geology And Mineral Resources" class="no-icon">
            <img src={% static "images/bureau_logo-notext.gif" %} width="100"/>
        </a>
    </div>
    <div id="labspytitle">
        <h1>
            <a href="//geoinfo.nmt.edu/labs/argon">New Mexico Geochronology Research Laboratory</a>
        </h1>
        <h5 ><a href="//geoinfo.nmt.edu">New Mexico Bureau of Geology and Mineral Resources</a> </h5>
    </div>

    <div>
    <nav id="sitenav">
        <ul>
            <li><a href="//geoinfo.nmt.edu/labs/argon">Home</a></li>
            <li><a href={% url "status_index" %}>Status</a></li>
            <li><a href={% url "status_graph_index" %}>Laboratory Graphs</a></li>
            <li><a href={% url "jan_status_index" %}>Jan</a></li>
            <li><a href={% url "felix_status_index" %}>Felix</a></li>
            <li><a href={% url "vacuum_pressure_index" %}>Vacuum</a></li>
            <li><a href={% url "repository_status_index" %}>Repositories</a>
            <li><a href={% url "calendar_index" %}>Calendar</a>
            </li>
        </ul>
    </nav>
            <script type="text/javascript">
        $(document).ready(function() {
    $('#sitenav li a').on('click', changeClass);
});

function changeClass(e) {

    $('#sitenav li a').removeClass('current');
    $(this).addClass('current');
}
    </script>
    </div>
</header>

{% block body %}

{% endblock %}



