{% load staticfiles %}

{#<script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js'></script>#}
<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
{#<link rel="stylesheet" type="text/css" href="{% static 'status/style.css' %}" />#}
{#<link rel="stylesheet" type="text/css" href="{% static 'status/template.css' %}" />#}
{#<link rel="stylesheet" type="text/css" href="{% static 'bureau_style.css' %}" />#}
<link rel="stylesheet" type="text/css" href="{% static 'nmgrl.css' %}" />


{% block staticfiles %}{% endblock %}

<header id="header">
    <div>
        <h1>
            New Mexico Geochronology Laboratory
        </h1>
        <h5>New Mexico Bureau of Geology and Mineral Resources</h5>
    </div>
    <div>
    <nav id="sitenav">
        <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href={% url "status_index" %}>Status</a></li>
{#            <li><a href={% url "sample_index" %}>Samples</a></li>#}
            <li><a href={% url "people" %}>People</a></li>
            <li><a href={% url "hardware" %}>Hardware</a></li>
            <li><a href={% url "software" %}>Software</a></li>
        </ul>
    </nav>
            <script type="text/javascript">
        $(document).ready(function() {
    $('#sitenav li a').on('click', changeClass);
});

function changeClass(e) {
{#    e.stopPropagation();#}
{#    e.preventBubble();#}
{#    e.preventDefault();#}
    $('#sitenav li a').removeClass('current');
    $(this).addClass('current');
}
    </script>
    </div>
</header>

{% block body %}{% endblock %}


      <div id="nmt-footer">
        <p>We are a research and service division of:</p>
        <a href="http://www.nmt.edu" title="New Mexico Institute of Mining &amp; Technology" class="no-icon"><img src={% static "images/nmtlogo-small.gif" %} width="150" height="53"/></a> </div>
{#      <div id="comments" style="clear:both;">#}
{#        <script type="text/javascript">#}
{#	var address = 'webmaster';#}
{#	var domain = '&#110;&#109;&#98;&#103;&#46;&#110;&#109;&#116;&#46;&#101;&#100;&#117;';#}
{#document.write('<a h'+'ref="'+'ma'+'il'+'to:'+address+'&#64;'+domain+'"title="Send E-mail"><img src="{% static "images/icon-letter.png" %}" width="30" height="21" alt="Email us!"><br>We welcome your comments.<\/a>');#}
{#	</script>#}
{#        <noscript>#}
{#        <div><a href="/need_javascript.html"><img src="{% static "images/icon-letter.png" %}" title="Email link requires javascript" alt="envelope" width="30" height="21"><br>#}
{#          We welcome your comments:<br>#}
{#          <img src="/images/webmaster-email.gif" alt="email us" width="161" height="14" title="Email link requires javascript"></a> </div>#}
{#        </noscript>#}
{#      </div>#}
      <div id="terms">
{#        <div class="no-print" style="margin-bottom:0.25em;" ><small><a href="/about/termsofuse.html">Terms of Use</a> | <a href="/about/accessibility.html">Accessibility</a></small> </div>#}
        <div style="font-size:0.625em;">Revised: <!-- #BeginDate format:Sw1 -->21 July, 2015<!-- #EndDate --></div>
        <div><small> <a href="/publications/about/copyright.html"> &copy;
          <script >var cur = '2007'; var year = new Date(); if(cur == year.getFullYear()) year = year.getFullYear(); else year = cur + '-' + year.getFullYear(); document.write(year);</script>
          <noscript>
          2007
          </noscript>
          <abbr title="New Mexico Bureau of Geology &amp; Mineral Resources">NMBGMR</abbr> or as specified</a></small></div>
      </div>
      <div class="return2top">
        <p><a href="#top">Return to Top of Page</a></p>
      </div>
    </footer>


