h4 {
    padding-left: 0.1em;
    margin-top: 0.5em;
}

.graphtitle {
    text-align: center;
    font-size: 24px;
}

#xlabel{
    font-size: 18px;
    text-align: center;
}
#ylabel
{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /*display: inline-block;*/
    vertical-align: middle;
    /*line-height: normal;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*background-color: lightblue;*/
}

.status_true {

}
.status_false
{
    /*background-color: lightcoral;*/
    font-weight: bold;
    color: red;
}

#flagged
{
    /*background-color: lightcoral;*/
    font-weight: bold;
    color: red;
    font-size: 12px;
}

table.paleblue {
    background-color: #eaeaea;
}

#maincontainer{
    padding-left: 1em;
    /*position: relative;*/
}
#currentcontainer, #connectioncontainer, #graphcontainer, #experimentscontainer {
    /*background-color: lightblue;*/
    /*border: 0.1em solid;*/
    /*border-radius: 0.25em;*/
    /*margin-bottom: 0.5em;*/
    /*padding-left: 0.25em;*/
}

.collapse {
    border: 0.1em solid;
    border-radius: 0.25em;
}
#connectioncontainer td {
    vertical-align: top;
    /*border: solid;*/
}
p.connection {
    font-size: 10pt;
}

/*#graphcontainer {*/
    /*border: solid;*/
    /*border-width: 0.1em;*/
/*}*/

