h1 {color: lightblue}
li h1 { color: brown}
body {background: lightyellow}

#ylabel {-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 50px;
}